<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SocialNetworkEntities" connectionString="metadata=res://*/SocialNetworkModel.csdl|res://*/SocialNetworkModel.ssdl|res://*/SocialNetworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=C5-Sampaio;initial catalog=socialnetwork;persist security info=True;user id=sa;password=sampaio;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>